@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1140px;
    }
    .features-area .container,
    .testimonial-area .container,
    .aabbro-pricing-area .container{
        max-width: 1530px;
    }
    .service-hero-img img {
        width: auto !important;
        max-height: 790px;
        height: 100%;
        margin: 0px 0px 0px auto;
    }

    .service-hero-content .container {max-width: 1320px;}
    .hero-area.hero-area-update {
        min-height: 100vh;
    }
}


@media only screen and (min-width: 1367px) {
    .category-promo-name {
        text-align: center;
    }
    
    .category-promo-name p {
        padding-left: 20px;
    }
    .dashboard-pricing-plan .single-pricing {
        max-width: 100%;
    }
}

@media (min-width: 992px) and (max-width: 1366px) {
    .aabbro-resources-area .col-md-3 {
        width: 33.3333333%;
    } 
    .aabro-resource-filter-tab ul li a { 
        font-size: 14px;
        padding: 15px 10px; 
    } 
    .aabbro-resources-area { 
        width: 78%;
    }
    .aabbro-resources-area.aabbro-resources-all {
        width: 100%;
    }
    .aabbro-resources-area.aabbro-resources-all .col-md-3 {
        width: 25%;
    } 
    .aabro-resource-filter-area { 
        width: 22%;
    }
    .filtered-result-box ul li { 
        font-size: 14px;
    }
    .filtered-result-box p {
        font-size: 16px;
    }
    .filtered-result-box ul li {
        font-size: 12px;
        padding: 0px 10px;
    }
    .filtered-result-box ul li span.remove { 
        padding-left: 10px;
        margin-left: 6px;
    }
    .filtered-result-box span.clear-all-btn { 
        font-size: 14px;
    }
    ul.aabbro-category-lists li a { 
        font-size: 16px;
    }
    .category-promo-name p {
        text-align: center;
        font-size: 14px;
        padding-right: 30px;
    }
    .aabbro-category-area { 
        padding-top: 112px;
        padding-bottom: 22px;
    }
    .aabbro-headerV2 .aabbro-navbar {
        padding: 18px 50px;
    }


    .dashboard-pricing-plan {}

    .dashboard-pricing-plan .single-pricing {
        padding: 20px;
    }

    .dashboard-pricing-plan .single-pricing h5 {
        font-size: 16px;
        line-height: 20px;
        margin-top: 5px;
    }

    .dashboard-pricing-plan .single-pricing p {
        font-size: 12px;
    }

    .dashboard-pricing-plan .sprice-head ul li:last-child h4 {
        font-size: 30px;
    }

    .sprice-features ul.atia-list li {
        font-size: 14px;
        line-height: 28px;
    }
}




/* Medium Layout: 1367px. */

@media only screen and (min-width: 1200px) and (max-width: 1367px) {
    .product-caegory-wrapper .single-category-block h4 {
        width: 100%;
        text-align: center;
    }
    
    .product-caegory-wrapper .single-category-block ul {
        float: unset;
        width: 100%;
        text-align: center;
    }


    .product-details-area {
        position: relative;
    }

    .product-details-head-area .container,
    .product-details-similar-product-area .container,
    .product-details-area .container {
        max-width: 900px;
    }
    .features-area .container, 
    .testimonial-area .container, 
    .aabbro-pricing-area .container, 
    footer .container {
        max-width: 1200px;
    }
    .schedule-banner h3 { 
        font-size: 22px;
        line-height: 34px;
    }
    .sch-btn a.aabbro-btn-a {
        font-size: 13px;
        padding: 15px 16px;
        top: 7px;
    }

    .product-details-gallary {
        position: relative;
        max-width: 790px;
        margin: 0px auto;
        margin-right: 330px;
    }
    .product-gallary-carousel ol.carousel-indicators li { 
        max-width: 120px; 
        height: 90px;
    }
    .product-gallary-carousel .carousel-item.active img,
    .carousel-item img {
        max-height: 560px;
    }
}


@media only screen and (min-width: 992px) and (max-width: 1440px) {
    /* .aabbro-resources-area .single-category-block h4 {
        width: 100%;
        text-align: center;
    }
    
    .aabbro-resources-area .single-category-block ul {
        float: unset;
        width: 100%;
        text-align: center;
    } */


}


/* Medium Layout: 1280px. */

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    .download-wrapper {
        position: relative;
        right: unset;
        margin: 45px auto;
        width: 80%;

    }
}
@media only screen and (min-width: 992px){
    .aabbro-headerV2 .aabbro-navbar ul.navbar-nav li:last-child {
        display: none;
    }
    .aabbro-navbar ul.navbar-nav li {
        margin-right: 0px !important;
        padding-right: 0px !important;
    }
    .logo.mobile-logo {
        display: none;
    }

    .dashboard-sidebar span.close-dm {
        display: none;
    }
}

/* Tablet Layout: 768px. */

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    
}

@media only screen and (max-width: 991px) {
    .pd-gallery-details .product-gallary-carousel ol.carousel-indicators {
        top: unset;
        position: relative;
        right: unset;
        text-align: center;
        margin: 25px auto !important;
    }
    .download-wrapper {
        position: relative;
        right: unset;
        margin: 45px auto;
        width: 80%;

    }
    .aabbro-navbar {
        padding: 15px !important
    }
    
    button.navbar-toggler {
        background-color: #6382e9;
        padding: 7px 5px;
        width: 35px;
        text-align: center;
    }
    
    button.navbar-toggler span.navbar-toggler-icon {
        position: relative;
        display: block;
        border: 2px solid #fff;
        border-left: none;
        border-right: none;
        width: 100%;
    }
    
    button.navbar-toggler span.navbar-toggler-icon:after {
        position: absolute;
        content: '';
        height: 2px;
        width: 100%;
        background-color: #fff;
        left: 0;
        top: 7px;
    }
    .aabbro-navbar ul.navbar-nav li a {
        text-align: left;
    }
    .aabbro-navbar ul.navbar-nav li:last-child {
        margin: 0px;
    }
    header.aabbro-header {
        background-color: #804eec;
    }
    header.navbar-fixed-top {
        background: #F9F9F9;
    }
    .er-btn-mobile{ 
        display: block !important;
    }

    .hero-content h1 {
        font-size: 32px;
        line-height: 42px;
    }
    
    .hero-content p {
        font-size: 18px;
        line-height: 30px;
        margin-top: 14px;
        margin-bottom: 32px;
    }
    
    .hero-img-video video.aabbro-video-player {
        height: 220px;
        margin-bottom: -110px;
        border: 15px solid #f9f9f9;
        border-radius: 10px;
    }
    
    .hero-area {
        padding-top: 105px;
    }
    
    .hero-img-video {
        margin-bottom: 0px;
        padding-left: 10px;
        padding-right: 10px;
        margin-top: 40px;
    }
    
    .product-category-area {
        padding-top: 155px;
    }
    
    .section-head h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
    }
    
    .product-category-area .section-head {
        text-align: center;
        margin-bottom: 20px;
    }
    
    .er-btn {
        text-align: center;
        display: none;
    }
    
    .product-caegory-wrapper {
        padding-top: 0px;
    }
    
    .product-category-area {
        padding-bottom: 60px;
    }
    
    .atia-img {
        padding: 24px;
    }
    
    .atia-img video.aabbro-video-player {
        height: 245px;
        border-width: 15px;
    }
    
    .atia-text {
        padding: 24px;
    }
    
    .atia-text h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
    }
    
    .atia-text p {
        font-weight: normal;
        font-size: 18px;
        line-height: 30px;
        margin: 20px auto;
    }
    
    ul.atia-list li {
        font-weight: 500;
        font-size: 18px;
        line-height: 30px;
    }
    .aabbro-navbar ul.navbar-nav {
        margin-top: 50px;
        margin-bottom: 40px !important;
    }
    
    .aabbro-navbar ul.navbar-nav li a {
        padding: 12px 0px;
    }
    
    .aabbro-navbar ul.navbar-nav li a.sign-in-btn {
        margin-top: 20px;
    }




    .search-form-header {
        display: none;
    }
    .aabbro-navbar ul.navbar-nav li .search-form-header {
        display: block;
        width: 100%;
        margin: 20px auto;
        padding: 10px 15px;
    }
    
    .aabbro-navbar ul.navbar-nav  .search-form-header input.form-control {
        background-color: #eee;
    }


    .mobile-cat-filter-btn {
        position: relative;
        display: block;
        margin: 17px auto;
    }
    
    ul.mcatfilter-btn {
        position: relative;
        padding: 0px;
        list-style-type: none;
    }
    
    ul.mcatfilter-btn li {
        position: relative;
        display: inline-block;
        width: calc(50% - 3px);
    }
    
    .mcat-btn {
        position: relative;
    }
    
    .aabbro-category-area {
        padding-top: 80px;
        background-color: #F9F9F9;
    }
    
    span.mobilecategorybtn {
        position: relative;
        display: block;
        background-color: #fff;
        color: #000248;
        height: 32px;
        width: 32px;
        text-align: center;
        font-size: 20px;
        padding-top: 7px;
        border-radius: 5px;
        cursor: pointer;
        padding-left: 2px;
    }
    
    .m-filter {
        text-align: right;
        position: relative;
        top: -3px;
    }
    
    span.mobilefilter-btn {
        position: relative;
        background-color: #fff;
        color: #757589;
        padding: 4px 10px 0px;
        height: 32px;
        display: inline-block;
        width: 82px;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0px;
        border-radius: 5px;
    }
    span.mobilefilter-btn img {
        margin-left: 3px;
    }
    header.aabbro-header.aabbro-headerV2 {
        background-color: #fff;
        border-bottom: 1px solid #E0E0E0;
    }
    /* Mobile Category Style */
    .aabbro-category {
        display: none;
    }
    .closeMobileCatFilter.showMobileCatCloseIcon {
        position: fixed;
        z-index: 99999;
        top: 10px;
        right: 10px;
        display: block;
        width: 21px;
        height: 21px;
        background-color: rgb(0 2 72 / 50%);
        color: #fff;
        line-height: 18px;
        text-align: center;
        padding-left: 1px;
        padding-top: 2px;
        border-radius: 50%;
        font-size: 13px;
    }
    
    .aabbro-category.showMobileCat {
        position: fixed;
        top: 0;
        display: block;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        z-index: 99;
        overflow-y: scroll;
        padding-left: 15px;
        padding-right: 15px;
    }
    
    ul.aabbro-category-lists {
        margin-top: 40px;
        margin-bottom: 40px;
    }
    
    ul.aabbro-category-lists li {
        display: block;
        border-bottom: 0.5px solid #E0E0E0;
    }
    
    ul.aabbro-category-lists li:last-child {
        border: none;
    }
    
    ul.aabbro-category-lists li.active a, ul.aabbro-category-lists li a:hover {
        background-color: #fff;
    }

    .aabro-resource-filter-area {
        display: none;
    }
    
    .aabro-resource-filter-area.showMobileCat {
        position: fixed;
        display: block;
        width: 100%;
        height: 100vh;
        overflow-y: scroll;
        top: 0;
        left: 0;
        background-color: #fff;
        z-index: 99;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    
    .aabbro-resources-area {
        width: 100%;
    }
    .category-promo-name {
        margin: 15px auto;
    }
    
    .category-promo-name p {
        padding-left: 15px;
        line-height: 12px;
        padding-top: 9px;
    }

    .aabbro-category-area {
        padding-bottom: 0px;
    }
    
    .filtered-result-box ul {
        display: none;
    }
    
    /* span.clear-all-btn {
        float: right;
    } */
    
    .aabbro-resources-area {
        padding-top: 15px;
    }
    .aabbro-resources-area .er-btn {
        display: block;
    }
    /* .category-promo-name p span {
        top: -2px;
    } */
    .aabbro-resources-area {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .aabbro-category-area {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    .filtered-result-box p {
        padding-left: 9px;
    }
    .filtered-result-box p span {
        display: block;
    }
    
    .filtered-result-box span.clear-all-btn {
        display: none;
    }
    
    /* .filter-submit-btn {
        background-color: #fff;
        border-radius: 5px;
        padding: 10px 30px;
        text-align: left;
        line-height: 32px;
        height: 50px;
        overflow: hidden;
        width: 130px;
        margin-right: 8px;
    } */
    
    /* .filter-submit-btn img {
        position: absolute;
        background-color: #fff;
        margin-left: 10px;
        top: 16px;
        right: 20px;
    } */
    .filterd-btn-box ul.filter-lists {
        top: 65px;
        right: 7px;
    }
    .log-reg-img {
        display: none;
    }
    
    .log-reg-form-wrapper h2 {
        font-size: 24px;
        line-height: 32px;
    }
    
    ul.remember-forget li label {
        font-size: 15px;
    }
    
    a.forget-pass-btn {
        font-size: 14px;
    }
    
    .log-reg-form-wrapper {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    ul.remember-forget li:first-child {
        width: 57%;
    }
    
    ul.remember-forget li:last-child {
        width: 41%;
    }

    .dashboard-body #navbarSupportedContent {
        display: none;
    }
    
    .dash-board-mobile-menu.showInMobile {
        right: 0;
        opacity: 1;
        width: 100%;
        z-index: 99;
        min-height: 100vh;
        background-color: #fff !important;
    }
    
    .dashboard-sidebar {
        left: -100%;
        transition: .5s ease;
    }
    
    .dashboard-body {
        width: 100%;
        margin: 0px auto;
    }

    .sidemenu-toggler {
        position: relative;
        margin-bottom: 17px;
    }
    
    .dash-board-content-wrapper {
        padding: 17px;
    }
    .dashboard-sidebar.showInMobile {
        left: 0;
        width: 100%;
    }
    
    .dashboard-sidebar-content .d-logo {
        display: none;
    }
    .sidemenu-toggler {
        display: block;
    }

    .ep_tab_nav {
        display: none;
    }
    
    .ep_tab_content .tab-pane {
        padding: 20px;
        display: block;
        opacity: 1;
        overflow: hidden;
        background-color: #fff;
        margin-bottom: 30px;
        border-radius: 10px;
    }
    
    .ep-form-group label {
        font-size: 16px;
        margin-bottom: 0px;
    }
    
    .ep-form-group input {
        font-size: 16px;
        height: 48px;
    }
    
    .ep-form-group {
        margin-bottom: 16px;
    }
    
    .ep-form-wrapper h4 {
        margin-bottom: 14px;
    }
     
    
    /* .ep_tab_content .tab-pane:after {
        height: 20px;
        background-color: #f2f5fd;
        position: absolute;
        content: '';
        width: 100%;
        bottom: 0;
        z-index: 1;
        left: 0;
    } */
    
    .ep_tab_content {
        background-color: #f2f5fd;
    }
    
    button.form-submit-btn {
        font-size: 16px;
    }
    
    .socialMform-input input {
        height: 32px;
        padding: 0px 10px;
        font-size: 12px;
        width: calc(100% - 120px);
        margin-left: 10px;
        margin-right: 10px;
    }
    
    .socialMform-input label {
        width: 32px;
        height: 32px;
        font-size: 15px;
        line-height: 32px;
        padding-top: 0px;
        vertical-align: top;
        position: relative;
    }
    
    button.social-add-btn {
        font-size: 16px;
        padding: 0px 10px;
        height: 32px;
        line-height: 19px;
        vertical-align: top;
    }
    
}
/* Mobile Layout: 320px. */

@media only screen and (max-width: 767px) {
    .download-wrapper {
        position: relative;
        right: unset;
        margin: 5px auto 45px;
        width: 100%;
    }
    
    .schedule-banner h3 {
        text-align: center;
        font-size: 18px;
        line-height: 30px;
    }
    
    .schedule-banner {
        text-align: center;
        padding: 30px;
    }
    
    .product-details-area {
        padding-left: 15px;
        padding-right: 15px;
    }
    
    header.aabbro-header-pop {
        padding: 25px 0px;
    }
    
    header.aabbro-header-pop a {
        top: 8px;
        right: 31px;
    }
    
    .pdha-btn ul li {
    }
    
    .pdha-btn ul {
        text-align: left;
    }
    
    .product-gallary-carousel ol.carousel-indicators li {
        max-width: 65px;
        height: 50px;
    }
    
    .product-gallary-carousel ol.carousel-indicators {
        margin: 20px auto !important;
    }
    
    .download-wrapper {}
    
    ul.taglist li a {
        font-size: 12px;
        padding: 6px 10px;
    }
    
    .product-details-text {
        margin-bottom: 0px;
    }
    
    .product-details-similar-product-area {
        padding-left: 10px;
        padding-right: 10px;
    }
    
    .product-details-similar-product-area h2 {
        margin-bottom: 20px;
    }
    .sprice-head ul li:first-child {
        display: none;
    }
    .abbro-mb-order-2 {
        order: 2!important;
    }
    .stt-qouts {
        margin-top: 20px;
    }
    .abbro-mb-order-1 {
        order: 1!important;
    }
    .testimonial-area {
        padding: 40px 0px;
    }
    
    .tsec-head {}
    
    .tsec-head h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        max-width: 260px;
        text-align: center;
        margin: 0px auto;
    }
    
    .single-testimonial {
        margin: 0px auto;
        margin-bottom: 24px;
    }
    
    .single-testimonial .st-img {
        width: 100%;
    }
    
    .single-testimonial .st-text {
        width: 100%;
        float: unset;
    }
    
    .aabbro-pricing-area {
        padding: 60px 0px 30px;
    }
    
    .pricing-section-head h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
    }
    
    .pricing-section-head {
        margin-bottom: 24px;
    }
    
    .single-pricing {
        margin-top: 0px;
        margin-bottom: 32px;
    }
    
    .call-to-action-area .cta-text {
        padding-top: 60px;
        text-align: center;
        margin-left: 25px;
        margin-right: 25px;
        padding-bottom: 0px;
    }
    
    .call-to-action-area .cta-text h2 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
        margin-bottom: 24px;
    }
    
    .call-to-action-area .cta-text a {
        display: block;
        margin-bottom: 16px;
    }
    
    .cta-img {
        text-align: center;
    }

    .footer-widget {
        padding-top: 60px;
        padding-bottom: 40px;
        padding-left: 22px;
        padding-right: 22px;
    }
    
    .sf-widget {
        padding: 0px;
        margin-top: 10px;
    }
    
    .sf-widget h4 {
        margin-bottom: 16px;
    }
    .page-title-area h3 {
        font-size: 24px;
        line-height: 36px;
    }
    
    .page-title-area ul.bc-list {
        display: none;
    }
    
    .breadcrumb-area {
        padding: 130px 0px 50px;
    }
    
    .aabbro-countdown-area .cdown { 
        font-size: 10px;
        line-height: 24px; 
    }
    
    .aabbro-countdown-area .cdown {
        margin-right: 15px;
    }
   .aabbro-countdown-area .cdown .time-count { 
          font-size: 22px;
          line-height: 30px; 
      }
      .aabbro-countdown-area .cdown  p { 
          font-size: 16px;
          line-height: 30px; 
      }
      .lifetime-deal-box ul li:last-child a.buy-plan-btn {
          top: 10px;
      }
      .dataTables_wrapper {
        overflow-y: scroll;
    }
    
    .support-ticket-table {
        text-align: center;
    }
    .dataTables_paginate a.paginate_button {
         
        margin: 5px !important;
       
    }
    .aabbro-text-content-area {
        padding: 110px 10px;
    }
    
    ul.atcan-list li {
        padding-left: 20px;
    }
    
    ul.atcan-list li:after {
        position: absolute;
        content: '';
        height: 1px;
        width: 10px;
        background-color: #000;
        z-index: 1;
        left: 0;
        top: 18px;
        z-index: 1;
    }
    
    .atca-content h3 {
        font-size: 24px;
        line-height: 36px;
    }
    
    .atca-content {
        margin-top: 20px;
    }
    .page-search-box {}

    .page-search-box .search-form-header {
        display: block;
        max-width: 80%;
    }

    .help-area {
        padding: 60px 10px;
    }
    .ep-content-img-text { 
        padding: 15px;
    }
    .help-details-area {
        padding: 40px 20px;
    }
    
    .help-details-area .atca-content {
        padding: 0px;
        margin-top: 30px;
    }
    .aabbro-blog-page>.container>.row>.col-md-4 {
        order: 1;
    }
    
    .aabbro-blog-page>.container>.row>.col-md-8 {
        order: 2;
    }
    
    .aabbro-blog-page {
        padding: 40px 0px;
    }
    
    .blog-sidebar-widget .search-form-header {
        display: block;
    }
    .aabbro-pagination ul li {
        margin-bottom: 6px;
    }
    
    .aabbro-pagination ul {
        text-align: center;
    }
    .aabbro-blog-details-page {
        padding: 120px 10px 60px;
    }
    
    .bdc-text {
        padding: 0px;
    }
    
    .bdc-text h4 {
        font-size: 24px;
        line-height: 36px;
    }
    
    .bdc-meta ul li {
        margin-bottom: 10px;
    }
    
    .bdc-img-t .bdci-text {
        position: relative;
        width: 80%;
        right: unset;
        left: 10%;
        padding: 20px;
        text-align: center;
        margin-top: -70px;
    }
    
    .bdc-post-meta {
        padding: 0px;
    }
    
    .bdc-post-meta ul li {
        width: 100%;
    }
    
    .bdc-post-meta ul {
        margin-top: 20px;
    }
    
    .single-comment {
        margin-left: 0px;
    }
    
    .leave-comment-box {
        padding: 31px;
    }

    .aabbro-resources-area.aabbro-resources-all span.fs-title {
        position: relative;
        display: block;
        margin-bottom: 20px;
        padding-top: 10px;
    }
    
     
    .all-file-sec-divider-title .load-mre-box {right: calc(50% - 71px);top: -35px;}
    
    .all-file-sec-divider-title {padding-top: 65px;text-align: center;}

    .service-hero-content {
        padding-top: 50px;
        text-align: center;
    }
    
    .service-pricing-area {
        overflow: hidden;
    }
    
    .service-hero-text h2 {
        font-size: 24px;
        line-height: 36px;
    }
    
    .service-hero-btn {
        position: relative;
    }
    
    .service-hero-btn a.aabbro-btn-a {
        margin: 12px;
    }
    
    ul.services-custom-dots li {
        border-radius: 0px !important;
        width: 33% !important;
        position: relative;
        min-width: unset;
        padding: 12px;
        min-height: 60px;
        vertical-align: bottom;
        margin: 0px -4px;
    }
    
    ul.services-custom-dots li p {
        font-size: 14px;
        line-height: 18px;
    }
    
    .service-hero-img img {
        max-height: 300px !important;
        margin: 0px auto;
    }
    
    .service-hero-text {
        min-height: 170px;
        padding-bottom: 20px;
    }
    
    .client-carousel-area {
        padding: 60px 0px;
    }
    
    .service-p-title h3 {
        font-weight: 600;
        font-size: 24px;
        line-height: 36px;
    }
    
    .features-area {
        padding: 60px 0px;
    }
    
    .single-features.sf-service {
        text-align: center;
    }
    
    .single-features h4 {
        display: block;
    }
    
    ul.hawa-steps {
        display: none;
    }
    
    .how-aabbro-work-area {
        padding: 60px 0px;
    }
    
    .service-pricing-area {
        padding: 60px 0px;
    }
    
    ul.pricing-list-box li {
        max-width: 100%;
    }
    
    .single-service-pricing.best-price, .single-service-pricing:hover {
        top: 0px;
    }
    
    .perfect-plan-area {
        padding: 60px 0px;
    }
    
    .pickplan-wrapper .col-md-4 {
        padding: 0px 12px;
    }
    
    .pickplan-wrapper .col-md-4:first-child .spp-title {
        border-radius: 0px;
    }
    
    .single-pickplan {
        margin-bottom: 30px;
    }
    
    .price-tab-nav {
        margin-bottom: 30px;
    }
    
    .pickplan-wrapper .col-md-4:last-child .spp-title {border-radius: 0px;}
    
    .service-faq-area {
        padding: 60px 0px;
    }
    .single-pickplan-paragraph {
        margin: 0px 5px;
    }
    
    .single-pickplan-paragraph p {
        max-width: 100%;
    }
    
    ul#pickPlanTab li button {width: 100%;border-radius: 0px !important;}
    
    ul#pickPlanTab li {
        width: 100%;
    }
    
    ul#pickPlanTab {
        margin: 0px 5px;
    }

    .countdown-timer-area h4 {
        font-weight: 800;
        font-size: 32px;
        line-height: 48px;
    /* identical to box height */
        
    
    /* Neutral/White */
        margin-bottom: 20px;
    }
    
    .countdown-timer-area p {
        font-size: 14px;
        line-height: 24px;
    }
    
    .coming-countdown span {
        font-size: 24px;
        line-height: 26px;
        width: 80px;
        height: 80px;
        padding-top: 18px;
        margin: 15px;
    }
    
    .coming-countdown span p {
        font-size: 12px;
        line-height: 18px;
    }
    
    .coming-countdown {
        margin-bottom: 40px;
    }
    
    .countdown-timer-area {
        padding: 35% 20px;
    }
    
    .countdown-timer-area p {
        margin-bottom: 25px;
    }
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 481px) and (max-width: 767px) {
    
}


/* Wide Mobile Layout: 480px. */

@media only screen and (min-width: 240px) and (max-width: 480px) {
    
}



/* responsive  */
/*################################################### 
#START



/*##############################
Extra large: ---------
1. 1400px devices
##############################*/
@media screen and (max-width: 1400px){
    /* 
    #home-1400-------------------]
    */
    /*********************** 
    Pricing Area
    ***********************/
    .aabbro-pricing-area-update .sprice-head ul li:last-child h4 {
        font-size: 30px;
        line-height: 40px;
    }

    .aabbro-pricing-area-update .single-pricing {
        padding: 24px;
    }



    .lifetime-deal-box ul li:first-child {
        margin-right: 40px;
    }
    .lifetime-deal-box ul li h4 {
        font-size: 18px;
        line-height: 30px;
    }
    .lifetime-deal-box ul li p {
        font-size: 16px;
        line-height: 27px;
    }
    a.buy-plan-btn {
        padding: 18px 28px;
    }

    /*********************** 
    Resources Area
    ***********************/
    .aabbro-main-resources-area-update .row>* {
        padding-right: 10px;
        padding-left: 10px;
    }
    .aabbro-main-resources-area-update .single-category-block {
        margin-bottom: 20px;
    }

    .pd-gallery-details .pdha-title h4 {
        font-size: 18px;
    }


}


/*############################## 
Extra large: ---------
2. 1200 xlarge devices
##############################*/
@media screen and (max-width: 1200px){
    /*********************** 
    Pricing Area
    ***********************/
    .aabbro-pricing-area-update .col-lg-4.col-md-6.wow.slideInUp {
        margin-bottom: 15px;
        padding-right: calc(var(--bs-gutter-x)/ 2);
        padding-left: calc(var(--bs-gutter-x)/ 2);
    }
    .aabbro-countdown-area > p {
        display: block;
        font-size: 16px;
        line-height: 28px;
    }
    .lifetime-deal-box ul {
        justify-content: space-between;
    }
    .lifetime-deal-box ul li:last-child {
        flex: inherit;
    }
    .lifetime-deal-box ul li:first-child {
        margin-right: 0;
    }

    /*********************** 
    Help Area 
    ***********************/
    .help-details-area .atca-content {
        padding-left: 40px;
    }

    /*********************** 
    Product Details Area
    ***********************/
    .schedule-meeting-update {
        width: 80%;
        position: relative;
        top: unset;
        right: unset;
        border-radius: 20px;
        margin: 45px auto;
    }

    .schedule-meeting-update .sch-btn {
        text-align: center;
    }
    .schedule-meeting-update .aabbro-btn-a {
        padding: 13px 50px;
        width: unset;
    }



}


/*############################## 
large layout:  --------- 
3. 992px large devices
##############################*/
@media screen and (max-width: 991px){
    /*********************** 
    Header Area
    ***********************/
    .aabbro-header-update .aabbro-navbar {
        padding: 10px 24px !important;
    }
    .aabbro-header-update .navbar-brand img {
        max-width: 120px;
    }
    header.aabbro-header-update.navbar-fixed-top nav.aabbro-navbar {
        padding: 11px 24px !important;
    }
    
    .aabbro-navbar ul.navbar-nav li:last-child {
        margin-top: 20px;
    }
    /*********************** 
    Hero Area
    ***********************/
    .hero-area-update .hero-content h1, .product-category-area-update .section-head.wow.slideInUp h2, .aabbro-text-image-area-update .atia-text h2, .testimonial-area-update .tsec-head.wow.slideInUp h2,
    .aabbro-pricing-area-update .pricing-section-head h2 {
        font-size: 24px;
        line-height: 34px;
    }
    h2{
        font-size: 24px;
        line-height: 34px;
    }
    .hero-area-update .hero-content p {
        line-height: 28px;
        margin-top: 14px;
    }
    .hero-area-update .hero-img-video {
        margin-top: 60px;
    }
    .hero-area-update .hero-img-video video.aabbro-video-player {
        height: 340px;
        margin-bottom: -170px;
    }

    /*********************** 
    Product Category Area
    ***********************/
    .product-category-area-update {
        padding-top: 230px;
    }
    .product-category-area-update .product-caegory-wrapper {
        padding-top: 0;
    }
    .product-category-area-update .section-head {
        text-align: center;
        margin-bottom: 30px;
    }
    .product-category-area-update .col-lg-8 {
        justify-content: center;
    }

    
    
    /*********************** 
    Text Image Area
    ***********************/
    .aabbro-text-image-area-update .atia-text {
        padding: 0px 24px;
    }

    /*********************** 
    Pricing Area
    ***********************/
    .aabbro-pricing-area-update .sprice-head ul li h5 {
        font-size: 16px;
        line-height: 28px;
    }
    .aabbro-pricing-area-update .sprice-head ul li p {
        font-size: 14px;
        line-height: 24px;
    }
    .aabbro-pricing-area-update .sprice-head ul li:nth-child(2) {
        padding-left: 8px;
    }
    .aabbro-pricing-area-update .single-pricing {
        margin: 0;
        max-width: 100%;
        /* padding: 24px; */
    }
    .aabbro-pricing-area-update .sprice-features ul.atia-list li {
        font-size: 16px;
        line-height: 28px;
    }

    /*********************** 
    Pricing.html
    ***********************/
    /*********************** 
    Pricing area
    ***********************/
    .aabbro-pricing-area-update-V2 {
        padding: 110px 0px 60px !important;
    }

    
    /*********************** 
     Breadcrumb Area
    ***********************/
    .breadcrumb-area.breadcrumb-area-update h3 {
        font-size: 24px;
        line-height: 34px;
    }
    .breadcrumb-area.breadcrumb-area-update ul li {
        font-size: 14px;
        line-height: 22px;
    }
    .breadcrumb-area-update .vector img:nth-child(1) {
        top: 55px;
    }

    /*********************** 
    Category Area
    ***********************/
    .closeMobileCatFilter.showMobileCatCloseIcon {
        top: 16px;
        right: 16px;
        width: 24px;
        height: 24px;
        font-size: 13px;
    }
    .aabbro-category-area-update {
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 56px !important;
    }
    .aabbro-category-area-update .mobile-cat-filter-btn {
        position: relative;
        display: block;
        margin: 20px auto;
    }
    .aabbro-category-area-update .category-search-box .search-form-header {
        display: block;
    }
    .aabbro-category-area-update .col-md-3 {
        padding-left: 0;
        padding-right: 0;
    }


    /*********************** 
    Resources Area
    ***********************/
    .aabbro-resources-area {
        /* padding-left: 0;
        padding-right: 0; */
    }
    .aabbro-resources-area {
        padding-left: 14px;
        padding-right: 14px;
        padding-top: 0;
    }

    .filtered-result-box {
        margin-left: 10px;
        margin-right: 10px;
    }
    span.mobilefilter-btn {
        width: max-content;
    }

    /*********************** 
    Help Area
    ***********************/
    .help-area {
        padding: 60px 0px 30px;
    }
    .search-form-header {
        display: block;
    }
    .breadcrumb-area-help .page-title-area h3 {
        font-size: 24px;
        line-height: 34px;
    }
    .breadcrumb-area-help .page-search-box {
        margin: 20px auto 0px;
    }
    .breadcrumb-area-help .page-title-area ul.bc-list li {
        font-size: 14px;
        line-height: 24px;
    }
    .breadcrumb-area-help .page-title-area ul.bc-list {
        margin-top: 20px;
    }
    .breadcrumb-area-help .page-title-area ul.bc-list li:after {
        right: -17px;
    }

    /*********************** 
    Text And Content Area
    ***********************/
    .atca-content h3 {
        font-size: 24px;
        line-height: 34px;
    }
    .atca-content h4 {
        font-size: 18px;
        line-height: 28px;
    }
    
    /*********************** 
    Breadcrumb Area
    ***********************/
    .breadcrumb-area-blog {
        padding: 99px 0px 40px;
    }
    
    /*********************** 
    blog details
    ***********************/
    .single-blog h4 a {
        font-size: 18px;
        line-height: 28px;
    }
    .aabbro-blog-details-page-update .single-blog {
        margin-bottom: 15px;
    }
    .aabbro-blog-details-page-update .bdc-text {
        padding: 0;
    }
    .aabbro-blog-details-page-update .bdc-post-meta {
        padding: 20px 0px;
    }
    .aabbro-blog-details-page-update .aabbro-comments-wrapper > h5 {
        margin-left: 0;
    }
    .aabbro-blog-details-page-update .single-comment {
        margin-left: 0;
    }
    .aabbro-blog-details-page-update .bdc-text h4 {
        font-size: 24px;
        line-height: 34px;
    }
    .aabbro-blog-details-page-update .bdc-text h5 {
        font-size: 18px;
        line-height: 28px;
        color: #000248;
        margin-bottom: 20px;
    }
    .aabbro-blog-details-page-update .aabbro-comments-wrapper > h5 {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 20px;
    }
    .single-comment {
        margin-bottom: 20px;
    }
    .related-topics-area h3 {
        font-size: 24px;
        line-height: 34px;
    }
    .aabbro-blog-details-page-update {
        padding: 110px 0px 50px;
    }
    .leave-comment-box h4 {
        font-size: 18px;
        line-height: 28px;
        margin-bottom: 12px;
    }
    .aabbro-blog-details-page-update .leave-comment-box p {
        font-size: 16px;
        line-height: 26px;
    }
    .leave-comment-box p span {
        font-size: 16px;
        line-height: 26px;
    }

    
    /*********************** 
    Product Details Area
    ***********************/

    .product-details-head-area-update .pdha-title h4 {
        font-size: 16px;
        line-height: 26px;
    }


    .product-details-gallary-update .download-wrapper h4 {
        font-size: 18px;
    }

    .schedule-meeting-update .schedule-banner h3 {
        font-size: 18px;
    }

    .product-details-area-updates .product-details-text h4 {
        font-size: 18px;
        line-height: 30px;
    }
    .product-details-area-updates .product-details-text p {
        font-size: 16px;
        line-height: 26px;
    }
    .product-details-area-updates .tags-wrapper h5 {
        font-size: 14px;
        line-height: 28px;
    }

    .product-details-text .row>* {
        padding-right: 0;
        padding-left: 0;
    }
    .product-details-text ul.taglist li {
        margin: 0;
        margin-right: 5px;
        margin-bottom: 10px;
    }

    .product-caegory-wrapper {
        padding-top: 30px;
    }



}


/*############################## 
Medium Layout: ---------
4. 768px medium devices
##############################*/
@media screen and (max-width: 768px){
    .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        width: 100%;
        padding-right: 0;
        padding-left: 0;
        margin-right: auto;
        margin-left: auto;
    }
    /* 
    #home-768-------------------]
    */
    /*********************** 
    Text Image Area
    ***********************/
    .aabbro-text-image-area-update .row>* {
        padding-right: 15px;
        padding-left: 15px;
    }
    .aabbro-text-image-area-update .atia-img {
        padding: 24px;
    }
    .aabbro-text-image-area-update .atia-text {
        /* margin-top: 24px; */
        padding-top: 24px;
        padding-bottom: 60px;
    }
    .aabbro-text-image-area-update .atia-text-update {
        padding-left: 24px !important;
    }


    /*********************** 
    Testimonial Area
    ***********************/
    .testimonial-area-update .single-testimonial {
        display: block;
    }
    .testimonial-area-update .single-testimonial .st-text {
        padding-left: 0;
    }
    .testimonial-area {
        padding: 0px 0px 60px;
    }
    
    .testimonial-carousel .owl-dots {
        display: none;
    }
    .testimonial-area-update .testimonial-carousel .owl-nav {
        display: flex;
        justify-content: center;
        float: inherit;
    }
    .testimonial-area-update .testimonial-carousel .owl-nav [class*=owl-] {
        margin: 0px 10px !important;
    }
    .testimonial-area-update .single-testimonial {
        display: block;
        margin: 24px 0px;
    }

    /*********************** 
    Pricing Area
    ***********************/
    
    .aabbro-pricing-area-update .sprice-head ul li:first-child {
        display: block;
    }
    .aabbro-pricing-area-update .col-lg-4.col-md-6.wow.slideInUp {
        margin-bottom: 30px;
    }
    .aabbro-pricing-area-update {
        padding: 60px 0px 30px;
    }
    .aabbro-pricing-area-update .sprice-head ul li:first-child img {
        max-width: 40px;
    }

    /*********************** 
    Call To Action Area
    ***********************/
    .call-to-action-area .cta-text a {
        margin-right: 0;
    }

    /*********************** 
    Footer Area
    ***********************/
    .sf-widget h4 {
        margin-bottom: 10px;
    }
    .sf-widget p {
        margin-bottom: 16px;
    }

    /*********************** 
    Pricing Area 
    ***********************/
    .lifetime-deal-box ul {
        flex-direction: column;
    }
    .lifetime-deal-box ul li {
        text-align: center;
    }
    .lifetime-deal-box ul li:last-child {
        text-align: center;
    }
    .lifetime-deal-box ul li:last-child a.buy-plan-btn {
        top: 0;
    }
    .lifetime-deal-box ul li:first-child {
        margin-bottom: 10px;
    }
    .lifetime-deal-box ul li:last-child {
        margin-top: 20px;
    }
    .countdown-area-wrapper {
        margin-left: 24px;
        margin-right: 24px;
    }
    .countdown-area-wrapper .row>* {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .lifetime-deal-box {
        padding: 22px 15px;
    }

    /*********************** 
    Features Area
    ***********************/
    .single-features {
        margin-bottom: 20px;
        box-shadow: 0px 20px 99px rgb(149 149 149 / 16%);
    }

    /*********************** 
    Error Area
    ***********************/
    .ep-content-img-text {
        padding: 0;
    }
    .error-page-content .row>* {
        padding-right: 24px;
        padding-left: 24px;
    }
    .error-page-content {
        padding: 120px 0px 60px;
    }
    .ep-content-img-text img {
        padding: 60px 0px;
    }

    /*********************** 
    Sitemap Area
    ***********************/
    .help-area-update {
        padding: 60px 0px 30px;
    }
    .help-area-update .row>* {
        padding-right: 24px;
        padding-left: 24px;
    }

    .filtered-result-box {
        margin-bottom: 20px;
    }
    .filter-submit-btn {
        top: 5px;
    }
    .breadcrumb-area-help .page-title-area-update ul.bc-list {
        display: block;
    }

    .breadcrumb-area {
        padding: 110px 0px 60px;
    }
    .help-details-area .atca-content {
        margin-top: 60px;
    }
    .help-details-area .row>* {
        padding-right: 0;
        padding-left: 0;
    }
    .help-details-area {
        padding: 60px 24px 30px;
    }
    .help-details-area .atca-content {
        padding-left: 0;
    }
    .aabbro-text-content-area {
        padding: 110px 24px 30px;
    }
    ul.atcan-list li:after {
        top: 12px;
    }
    .aabbro-text-content-area .row>* {
        padding-right: 0;
        padding-left: 0;
    }
    ul.atcan-list li {
        padding-left: 0;
    }
    .atca-nav ul {
        border-right: none;
    }

    .breadcrumb-area-blog {
        padding: 99px 0px 40px;
    }

    /*********************** 
    Blog Area
    ***********************/
    .aabbro-blog-page-update .blog-sidebar {
        padding-top: 0;
    }
    .blog-sidebar-widget.sidebar-banner img {
        width: 100%;
    }
    .aabbro-blog-page-update .blog-content-box>h3::after {
        width: 60px;
    }
    .aabbro-blog-page-update .blog-sidebar {
        padding-left: 24px;
        padding-right: 24px;
    }

    .aabbro-blog-page-update .blog-content-box>h3 {
        padding-right: 24px;
        padding-left: 24px;
    }
    .aabbro-blog-page-update .blog-content-box>h3::after {
        width: 60px;
        left: 220px;
    }
    .aabbro-blog-page-update .blog-content-box .row>* {
        padding-right: 24px;
        padding-left: 24px;
    }
    .aabbro-pagination ul li a {
        background: #F2F5FD;
        border-radius: 15px;
        height: 40px;
        width: 40px;
        align-items: center;
        display: flex;
        justify-content: center;
        padding-top: 0;
        line-height: 28px;
    }
    .aabbro-pagination ul li:nth-child(4),
    .aabbro-pagination ul li:nth-child(5) {
        display: none;
    }
    .aabbro-pagination ul li {
        margin-bottom: 0;
        margin-right: 0;
        margin: 0px 5px;
    }
    .aabbro-blog-page-update .sb-content {
        padding: 0px 20px 20px 20px;
    }
    .aabbro-blog-details-page {
        padding: 120px 0px 60px;
    }
    .aabbro-blog-details-page.aabbro-blog-details-page-update .container > .row>* {
        padding-right: 24px;
        padding-left: 24px;
    }

    /*********************** 
    Product Details Area
    ***********************/
    .schedule-meeting-update {
        width: 100%;
    }
    .product-details-head-area-update
    .pdha-btn {
        margin-top: 16px;
    }
    header.aabbro-header-product a {
        top: unset;
        right: 31px;
    }

    .product-details-similar-product-area-update .section-head {
        text-align: center;
    }


}


/*############################## 
Small Layout: ---------
5. 576px small devices
##############################*/
@media screen and (max-width: 576px){
    /*********************** 
    Hero Area
    ***********************/
    .hero-area-update .hero-img-video video.aabbro-video-player {
        height: 200px;
        margin-bottom: -100px;
        border: 10px solid #ffffff;
        border-radius: 20px;
    }
    
    .aabbro-pricing-area-update .col-lg-4.col-md-6.wow.slideInUp {
        margin-bottom: 15px;
        padding-right: 24px;
        padding-left: 24px;
    }
    /*********************** 
    Product Category Area
    ***********************/
    .product-category-area-update {
        padding-top: 150px;
    }
    .product-category-area-update .row>* {
        padding-right: 24px;
        padding-left: 24px;
    }

    /*********************** 
    Text Image Area
    ***********************/
    .aabbro-text-image-area-update .row>* {
        padding-right: 0px;
        padding-left: 0px;
    }
    .aabbro-text-image-area-update .row {
        padding-right: 0px;
        padding-left: 0px;
    }
    
    /*********************** 
    Testimonial Area
    ***********************/
    .testimonial-area-update .row>* {
        padding-left: 24px;
        padding-right: 24px;
    }

    .aabbro-pricing-area-update .row>* {
        margin-bottom: 0;
        padding-left: 24px;
        padding-right: 24px;
    }


    /*********************** 
    Footer Area
    ***********************/
    .sf-widget p br {
        display: none;
    }

    /*********************** 
    Features Area
    ***********************/
    .features-area .row>* {
        padding-right: 24px;
        padding-left: 24px;
    }


    /*********************** 
    Help Area
    ***********************/
    .help-area-v1 .row>* {
        padding-right: 24px;
        padding-left: 24px;
    }

    /*********************** 
    Product Details Area
    ***********************/
    .product-details-area {
        padding-left: 24px;
        padding-right: 24px;
    }
    .product-details-text {
        overflow: hidden;
    }
    .product-details-similar-product-area-update {
        padding-left: 24px;
        padding-right: 24px;
    }
    .product-details-similar-product-area-update .row>* {
        padding-right: 0;
        padding-left: 0;
    }
    .product-details-gallary-update .row>* {
        padding-right: 0;
        padding-left: 0;
    }
}


/*########################
#theEndRESPONSIVE########################
########################*/